In [1]:
%load_ext autoreload
%autoreload 2
import uproot
import numpy as np
import awkward as ak
import matplotlib.pyplot as plt
import mplhep as hep
import hist

import sys
sys.path.append("../../..")
from analyzer.dumperReader.reader import *

In [2]:
reader = DumperReader("/data_cms_upgrade/cuisset/supercls/alessandro_electrons/supercls-v1/dumper_101.root") #"../runs_results/histo.root:ticlDumper")

In [3]:
reader.tracksters

In [4]:
#trackster_joinSupercluster(tracksters_getSeeds(reader.tracksters_zipped[["ts_id", "barycenter_eta", "raw_pt"]]), reader.tracksters_zipped[["raw_energy"]], reader.supercluster_df)

In [5]:
reader.supercluster_merged_properties_all

                           raw_energy_supercls  regressed_energy_supercls
eventInternal supercls_id
0             0                     247.070786                 263.119629
              1                     155.274918                 152.992264
              2                      18.866344                  27.637430
              3                      26.263689                  38.211380
              4                      26.458742                  24.578516
...                                        ...                        ...
99            3236                    1.542279                   4.767387
              3237                    1.062824                   4.616136
              3238                    1.426591                   4.962617
              3239                    1.522111                   4.624790
              3240                    1.211837                   5.062431

[316735 rows x 2 columns]

In [6]:
supercluster_all_df = reader.supercluster_all_df
assocs_bestScore_simToReco_df = reader.assocs_bestScore_simToReco_df
simTrackstersCP_df = reader.simTrackstersCP_df
tracksters = reader.tracksters_zipped[["ts_id", "raw_energy"]]

In [14]:
getCPToSuperclusterProperties(supercluster_all_df, assocs_bestScore_simToReco_df, 
        tracksters, simTrackstersCP_df)

                               supercls_id  raw_energy_supercls_sum  \
eventInternal caloparticle_id
0             0                          0               247.070786
              1                       2199               121.436096
1             0                          0               148.322037
              1                          1               199.223618
2             1                          0               215.419891
...                                    ...                      ...
97            0                          1               227.652313
98            0                          0               243.517014
              1                          1               302.517181
99            0                          0               140.216583
              1                          1               143.281433

                               regressed_energy_CP  raw_energy_CP  \
eventInternal caloparticle_id
0             0                         260.535889     262.060822
              1                         260.535889     265.912811
1             0                         233.356415     236.375717
              1                         233.356415     233.512634
2             1                         239.973526     236.966904
...                                            ...            ...
97            0                         239.547318     241.530273
98            0                         329.190918     336.582977
              1                         329.190918     319.961426
99            0                         234.995773     235.146133
              1                         234.995773     227.163223

                               barycenter_x_CP  barycenter_y_CP  \
eventInternal caloparticle_id
0             0                      43.388233        -9.003727
              1                     -40.854183        15.595878
1             0                      16.516609      -116.074348
              1                     -15.209192       116.131332
2             1                     -92.546463       -46.191395
...                                        ...              ...
97            0                     -42.993954        43.055073
98            0                      -9.159848      -101.258446
              1                       7.929540       102.041672
99            0                     -42.319241        91.937134
              1                      40.490250       -94.441696

                               barycenter_z_CP  barycenter_eta_CP  \
eventInternal caloparticle_id
0             0                    -333.805603          -2.716815
              1                     335.093597           2.733758
1             0                    -334.565704          -1.771104
              1                     335.572937           1.774912
2             1                     335.908844           1.893961
...                                        ...                ...
97            0                    -333.983276          -2.404090
98            0                    -334.794342          -1.907210
              1                     335.088593           1.901698
99            0                    -333.584259          -1.908107
              1                     333.471680           1.893287

                               barycenter_phi_CP
eventInternal caloparticle_id
0             0                        -0.204611
              1                         2.776922
1             0                        -1.429452
              1                         1.701021
2             1                        -2.678653
...                                          ...
97            0                         2.355484
98            0                        -1.661011
              1                         1.493243
99            0                         2.002188
              1                        -1.165768

[200 rows x 9 columns]

In [8]:
df_mainAssoc = assocs_bestScore_simToReco_df.reset_index("caloparticle_id").set_index("ts_id", append=True)
df_mainAssoc

                     caloparticle_id     score     sharedE
eventInternal ts_id
0             558                  0  0.068786  196.423386
              2336                 1  0.459086   97.209084
1             736                  0  0.308070  136.520599
              2223                 1  0.415219  147.945099
2             757                  0  0.555033   66.536896
...                              ...       ...         ...
97            2825                 1  0.011903  202.898285
98            749                  0  0.224551  213.850555
              2349                 1  0.020986  270.472168
99            767                  0  0.599691   92.193306
              2459                 1  0.545164   73.737274

[200 rows x 3 columns]

In [9]:
supercluster_all_df

                                             ts_id
eventInternal supercls_id ts_in_supercls_id
0             0           0                    558
                          1                     89
              1           0                   2242
                          1                   2172
              2           0                    211
...                                            ...
99            3236        0                   3551
              3237        0                   3552
              3238        0                   3553
              3239        0                   3554
              3240        0                   3555

[347695 rows x 1 columns]

In [10]:
tsInSupercls_df = trackster_joinSupercluster(df_mainAssoc, tracksters, supercluster_all_df, tracksterColumnsToKeep=["caloparticle_id"])
tsInSupercls_df

                     caloparticle_id  supercls_id  ts_in_supercls_id  \
eventInternal ts_id
0             558                  0            0                  0
              89                   0            0                  0
              2336                 1         2199                  0
1             736                  0            0                  0
              452                  0            0                  0
...                              ...          ...                ...
99            1031                 0            0                  0
              1172                 0            0                  0
              2459                 1            1                  0
              2663                 1            1                  0
              2465                 1            1                  0

                     raw_energy
eventInternal ts_id
0             558    245.479675
              89       1.591108
              2336   121.436096
1             736    138.009216
              452     10.312819
...                         ...
99            1031    16.328894
              1172     2.901897
              2459    79.518745
              2663    60.812607
              2465     2.950081

[543 rows x 4 columns]

In [11]:
# aggregate tracksters in superclusters
supercls_grouped_df = (tsInSupercls_df
    .groupby(["eventInternal", "supercls_id"])
    .agg(**tracksters_groupBy(tsInSupercls_df, suffix="_supercls_sum"), caloparticle_id=pd.NamedAgg("caloparticle_id", "first"))
    .reset_index("supercls_id")
    .set_index("caloparticle_id", append=True)
)
supercls_grouped_df

                               supercls_id  raw_energy_supercls_sum
eventInternal caloparticle_id
0             0                          0               247.070786
              1                       2199               121.436096
1             0                          0               148.322037
              1                          1               199.223618
2             1                          0               215.419891
...                                    ...                      ...
97            0                          1               227.652313
98            0                          0               243.517014
              1                          1               302.517181
99            0                          0               140.216583
              1                          1               143.281433

[200 rows x 2 columns]

In [12]:
# merge with CaloParticle information
merged_CP = pd.merge(supercls_grouped_df, simTrackstersCP_df,
                how="left", right_index=True, left_index=True)
merged_CP.rename(columns={str(col) : str(col)+"_CP" for col in simTrackstersCP_df.columns})

                               supercls_id  raw_energy_supercls_sum  \
eventInternal caloparticle_id
0             0                          0               247.070786
              1                       2199               121.436096
1             0                          0               148.322037
              1                          1               199.223618
2             1                          0               215.419891
...                                    ...                      ...
97            0                          1               227.652313
98            0                          0               243.517014
              1                          1               302.517181
99            0                          0               140.216583
              1                          1               143.281433

                               regressed_energy_CP  raw_energy_CP  \
eventInternal caloparticle_id
0             0                         260.535889     262.060822
              1                         260.535889     265.912811
1             0                         233.356415     236.375717
              1                         233.356415     233.512634
2             1                         239.973526     236.966904
...                                            ...            ...
97            0                         239.547318     241.530273
98            0                         329.190918     336.582977
              1                         329.190918     319.961426
99            0                         234.995773     235.146133
              1                         234.995773     227.163223

                               barycenter_x_CP  barycenter_y_CP  \
eventInternal caloparticle_id
0             0                      43.388233        -9.003727
              1                     -40.854183        15.595878
1             0                      16.516609      -116.074348
              1                     -15.209192       116.131332
2             1                     -92.546463       -46.191395
...                                        ...              ...
97            0                     -42.993954        43.055073
98            0                      -9.159848      -101.258446
              1                       7.929540       102.041672
99            0                     -42.319241        91.937134
              1                      40.490250       -94.441696

                               barycenter_z_CP  barycenter_eta_CP  \
eventInternal caloparticle_id
0             0                    -333.805603          -2.716815
              1                     335.093597           2.733758
1             0                    -334.565704          -1.771104
              1                     335.572937           1.774912
2             1                     335.908844           1.893961
...                                        ...                ...
97            0                    -333.983276          -2.404090
98            0                    -334.794342          -1.907210
              1                     335.088593           1.901698
99            0                    -333.584259          -1.908107
              1                     333.471680           1.893287

                               barycenter_phi_CP
eventInternal caloparticle_id
0             0                        -0.204611
              1                         2.776922
1             0                        -1.429452
              1                         1.701021
2             1                        -2.678653
...                                          ...
97            0                         2.355484
98            0                        -1.661011
              1                         1.493243
99            0                         2.002188
              1                        -1.165768

[200 rows x 9 columns]

In [19]:
tracksters_toDf(tracksters)

                     raw_energy
eventInternal ts_id
0             0        2.820799
              1        4.259413
              2        4.265550
              3        1.244720
              4        2.176735
...                         ...
99            3551     1.542279
              3552     1.062824
              3553     1.426591
              3554     1.522111
              3555     1.211837

[347695 rows x 1 columns]

In [20]:
assocs_bestScore_simToReco_df

                               ts_id     score     sharedE
eventInternal caloparticle_id
0             0                  558  0.068786  196.423386
              1                 2336  0.459086   97.209084
1             0                  736  0.308070  136.520599
              1                 2223  0.415219  147.945099
2             0                  757  0.555033   66.536896
...                              ...       ...         ...
97            1                 2825  0.011903  202.898285
98            0                  749  0.224551  213.850555
              1                 2349  0.020986  270.472168
99            0                  767  0.599691   92.193306
              1                 2459  0.545164   73.737274

[200 rows x 3 columns]

In [26]:
 assocs_bestScore_simToReco_df.join(tracksters_toDf(tracksters), on=["eventInternal", "ts_id"]).join(reader.simTrackstersCP_df, rsuffix="_CP")

                               ts_id     score     sharedE  raw_energy  \
eventInternal caloparticle_id
0             0                  558  0.068786  196.423386  245.479675
              1                 2336  0.459086   97.209084  121.436096
1             0                  736  0.308070  136.520599  138.009216
              1                 2223  0.415219  147.945099  155.163116
2             0                  757  0.555033   66.536896   68.825623
...                              ...       ...         ...         ...
97            1                 2825  0.011903  202.898285  226.456070
98            0                  749  0.224551  213.850555  215.553238
              1                 2349  0.020986  270.472168  274.445282
99            0                  767  0.599691   92.193306   96.964592
              1                 2459  0.545164   73.737274   79.518745

                               regressed_energy  raw_energy_CP  barycenter_x  \
eventInternal caloparticle_id
0             0                      260.535889     262.060822     43.388233
              1                      260.535889     265.912811    -40.854183
1             0                      233.356415     236.375717     16.516609
              1                      233.356415     233.512634    -15.209192
2             0                      239.973526     243.808395     95.294098
...                                         ...            ...           ...
97            1                      239.547318     240.925400     40.346405
98            0                      329.190918     336.582977     -9.159848
              1                      329.190918     319.961426      7.929540
99            0                      234.995773     235.146133    -42.319241
              1                      234.995773     227.163223     40.490250

                               barycenter_y  barycenter_z  barycenter_eta  \
eventInternal caloparticle_id
0             0                   -9.003727   -333.805603       -2.716815
              1                   15.595878    335.093597        2.733758
1             0                 -116.074348   -334.565704       -1.771104
              1                  116.131332    335.572937        1.774912
2             0                   31.507908   -332.762024       -1.913738
...                                     ...           ...             ...
97            1                  -44.297031    336.988403        2.428045
98            0                 -101.258446   -334.794342       -1.907210
              1                  102.041672    335.088593        1.901698
99            0                   91.937134   -333.584259       -1.908107
              1                  -94.441696    333.471680        1.893287

                               barycenter_phi
eventInternal caloparticle_id
0             0                     -0.204611
              1                      2.776922
1             0                     -1.429452
              1                      1.701021
2             0                      0.319323
...                                       ...
97            1                     -0.832038
98            0                     -1.661011
              1                      1.493243
99            0                      2.002188
              1                     -1.165768

[200 rows x 11 columns]

## archive

In [ ]:
# merge with supercluster df to get supercls_id
# INDEX eventInternal	supercls_id, COLS simts_id	ts_id
merged_tsId = (pd.merge(df_mainAssoc, supercluster_all_df,
        how="left", 
        left_index=True, right_on=["eventInternal", "ts_id"]
    )
    .reset_index("ts_in_supercls_id", drop=True)
)
merged_tsId

                           simts_id     score     sharedE  ts_id
eventInternal supercls_id
0             0                   0  0.068786  196.423386    558
              2199                1  0.459086   97.209084   2336
1             0                   0  0.308070  136.520599    736
              1                   1  0.415219  147.945099   2223
2             1                   0  0.555033   66.536896    757
...                             ...       ...         ...    ...
97            0                   1  0.011903  202.898285   2825
98            0                   0  0.224551  213.850555    749
              1                   1  0.020986  270.472168   2349
99            0                   0  0.599691   92.193306    767
              1                   1  0.545164   73.737274   2459

[200 rows x 4 columns]

In [ ]:
# merge with supercluster df to get supercls_id
# INDEX eventInternal	supercls_id, COLS genparticle_id	ts_id
merged_tsId = (pd.merge(df_mainAssoc, reader.supercluster_all_df,
        how="left", 
        left_index=True, right_on=["eventInternal", "ts_id"]
    )
    .reset_index("ts_in_supercls_id", drop=True)
)
merged_tsId

                           genparticle_id  ts_id
eventInternal supercls_id
0             0                         0    558
              2199                      1   2336
1             0                         0    736
              1                         1   2223
2             1                         0    757
...                                   ...    ...
97            0                         1   2825
98            0                         0    749
              1                         1   2349
99            0                         0    767
              1                         1   2459

[200 rows x 2 columns]

In [ ]:
# merge supercls_id to merged properties of superclusters
merged_supercls = pd.merge(
    merged_tsId, reader.supercluster_merged_properties_all, 
    left_index=True, right_index=True
).rename(columns={"ts_id" : "seed_ts_id"}).reset_index("supercls_id").set_index("genparticle_id", append=True)
merged_supercls

                              supercls_id  seed_ts_id  raw_energy_supercls  \
eventInternal genparticle_id
0             0                         0         558           247.070786
              1                      2199        2336           121.436096
1             0                         0         736           148.322037
              1                         1        2223           199.223618
2             0                         1         757           116.722534
...                                   ...         ...                  ...
97            1                         0        2825           229.857285
98            0                         0         749           243.517014
              1                         1        2349           302.517181
99            0                         0         767           140.216583
              1                         1        2459           143.281433

                              regressed_energy_supercls
eventInternal genparticle_id
0             0                              263.119629
              1                              128.586685
1             0                              160.734329
              1                              213.734161
2             0                              129.663925
...                                                 ...
97            1                              240.069183
98            0                              268.811066
              1                              330.694519
99            0                              153.711761
              1                              158.131775

[200 rows x 4 columns]

In [ ]:

# merge with CaloParticle information
merged_CP = pd.merge(merged_supercls, reader.simTrackstersCP_df,
                how="left", right_index=True, left_index=True)
merged_CP.rename(columns={str(col) : str(col)+"_CP" for col in reader.simTrackstersCP_df.columns})

                              supercls_id  seed_ts_id  raw_energy_supercls  \
eventInternal genparticle_id
0             0                         0         558           247.070786
              1                      2199        2336           121.436096
1             0                         0         736           148.322037
              1                         1        2223           199.223618
2             0                         1         757           116.722534
...                                   ...         ...                  ...
97            1                         0        2825           229.857285
98            0                         0         749           243.517014
              1                         1        2349           302.517181
99            0                         0         767           140.216583
              1                         1        2459           143.281433

                              regressed_energy_supercls  regressed_energy_CP  \
eventInternal genparticle_id
0             0                              263.119629           260.535889
              1                              128.586685           260.535889
1             0                              160.734329           233.356415
              1                              213.734161           233.356415
2             0                              129.663925           239.973526
...                                                 ...                  ...
97            1                              240.069183           239.547318
98            0                              268.811066           329.190918
              1                              330.694519           329.190918
99            0                              153.711761           234.995773
              1                              158.131775           234.995773

                              raw_energy_CP  barycenter_x_CP  barycenter_y_CP  \
eventInternal genparticle_id
0             0                  262.060822        43.388233        -9.003727
              1                  265.912811       -40.854183        15.595878
1             0                  236.375717        16.516609      -116.074348
              1                  233.512634       -15.209192       116.131332
2             0                  243.808395        95.294098        31.507908
...                                     ...              ...              ...
97            1                  240.925400        40.346405       -44.297031
98            0                  336.582977        -9.159848      -101.258446
              1                  319.961426         7.929540       102.041672
99            0                  235.146133       -42.319241        91.937134
              1                  227.163223        40.490250       -94.441696

                              barycenter_z_CP  barycenter_eta_CP  \
eventInternal genparticle_id
0             0                   -333.805603          -2.716815
              1                    335.093597           2.733758
1             0                   -334.565704          -1.771104
              1                    335.572937           1.774912
2             0                   -332.762024          -1.913738
...                                       ...                ...
97            1                    336.988403           2.428045
98            0                   -334.794342          -1.907210
              1                    335.088593           1.901698
99            0                   -333.584259          -1.908107
              1                    333.471680           1.893287

                              barycenter_phi_CP
eventInternal genparticle_id
0             0                       -0.204611
              1                        2.776922
1             0                       -1.429452
              1                        1.701021
2             0                        0.319323
...                                         ...
97            1                       -0.832038
98            0                       -1.661011
              1                        1.493243
99            0                        2.002188
              1                       -1.165768

[200 rows x 11 columns]